@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/medium-editor/src/sass/medium-editor";
@import "../../node_modules/medium-editor/src/sass/themes/beagle";
@import "../../node_modules/basicmodal/src/styles/main";
@import "./dragula";
@import "./codemirror";

//components
@import "./components/aside";
@import "./components/bar";
@import "./components/buttons";
@import "./components/content";
@import "./components/contents";
@import "./components/modal";

body {
  padding-top: 50px;
}

[class*="w-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gu-mirror {
  .w-content, .w-structure {
    display: none;
  }
}

.gu-transit {
  > strong {
      display: none;
  }
  .w-contents, .w-structure, .w-content {
    display:block;
  }
}

.w-hover {
  border: 1px dashed #7ec0ee;
}

.w-hide {
  height: 0 !important;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

.w-content-focused {
  .w-contents-bar {
    display: none;
  }
}
