.w-aside-container {
  position: fixed;
  top: 45px;
  right: -350px;
  z-index: 300;
  display: inline-block;
  padding: 20px;
  height: 100%;
  width: 350px;
  transition: all .3s ease-out;
  background-color: #fff;

  &:before {
    content: ' ';
    z-index: -1;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: -1px -1px 5px 0 #ddd;
    background-color: rgba(204, 204, 204, 0.14);
  }

  &.in {
    right:0;
  }

  select {
    margin-bottom: 8px;
    padding: 6px 12px;
    display: block;
    height: 34px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
  }

  .w-list-snippets {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transition: all .5s ease-out;
    background-color: #fff;
    border: 1px solid #ddd;

    > * {
      padding: 8px;
      cursor: pointer;
      font-family: Arial;
      transition: all .3s ease-out;
      border: 1px solid transparent;

      &:hover, &:focus {
        border: 1px solid #ccc;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }

  .w-btn-open {
    position: absolute;
    top: 30px;
    left: -32px;
  }
}

.w-snippet {
  display: none;
}
