.w-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: flex;
  height: 44px;
  justify-content: flex-start;
  background-color: #0F0F0F;

  > ul {
    float: left;
    margin: 0;
    padding-left: 0;
    list-style: none;

    > li {
      position: relative;
      float: left;
      display: block;
      color: #fff;

      > a, > button {
        padding: 15px 20px;
        display: inline-block;
        box-shadow: none;
        background-color: transparent;
        border: none;
        font-family: Arial;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
      }

      > ul {
        display: none;
        margin: 0;
        padding-left: 0;
        list-style: none;
      }
    }
  }
}
