.w-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: flex;
  height: 44px;
  justify-content: flex-start;
  background-color: #2F2F2F;
  box-shadow: 2px 2px 6px 0px #0f0f0f;

  > ul {
    float: left;
    margin: 0;
    padding-left: 0;
    list-style: none;

    > li {
      position: relative;
      float: left;
      display: block;
      color: #fff;

      &.w-btn-focus {
        padding: 0;
        background-color: #222222;
        box-shadow: none;
        border: none;

        > ul {
          position: absolute;
          top: 100%;
          left: 0;
          display:block;
          background-color: #222222;
        }
      }

      a, button {
        padding: 15px 20px;
        display: inline-block;
        box-shadow: none;
        background-color: transparent;
        border: none;
        font-family: Arial;
        font-size: 12px;
        color: #fff;
        text-decoration: none;
      }

      > ul {
        display: none;
        float: left;
        margin: 0;
        padding-left: 0;
        min-width: 160px;
        list-style: none;

        a, button {
          display: block;
          width: 100%;
          text-align: left;

          &:hover {
            background-color: #2F2F2F;
          }
        }
      }
    }
  }
}
