.w-bar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px;
  display: flex;
  justify-content: center;

  [class*="w-btn"] {
    padding: 8px 12px;
    background-color: #ececec;
    color: #000;
  }

  [class*="w-btn"] + [class*="w-btn"] {
    margin-left: 4px;
  }
}
