.w-btn {
  padding: 4px 8px;
  box-shadow: 1px 1px 1px 0px #ededed;
  background-color: transparent;
  border: 1px solid #ddd;
  font-size: 16px;
  cursor: pointer;

  &-open {
    padding: 12px 8px;
    background-color: #ececec;
    color: #000;
  }

  &-move {
    background-color: #0F0F0F;
    border: 1px solid #0F0F0F;
    color: #fff;
  }

  &-delete {
    background-color: #FF0000;
    border: 1px solid #FF0000;
    color: #fff;
  }

  &-duplicate {
    background-color: #337ab7;
    border: 1px solid #337ab7;
    color: #fff;
  }
}

[class*="w-btn"] {
  @extend .w-btn;
}
