.w-structure {
  position: relative;
  transition: all .3s ease-out;
  border: 1px solid transparent;

  &:hover {
    border: 1px dashed #7ec0ee;

    .w-contents-bar {
      visibility: visible;
      opacity: 1;
    }
  }

  &.gu-mirror, &.gu-transit {
    .w-contents-bar, .w-content {
      display: block;
      visibility: visible;
      opacity: 1;
    }
  }

  .w-contents {
    min-height: 50px;
  }

  .w-contents-bar {
    position: absolute;
    top: 2px;
    left: 2px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out;
    z-index: 100;

    [class*="w-btn"] {
      margin-left: 2px;
      margin-right: 2px;
      padding: 4px;
      font-size: 12px;
    }
  }
}
