.w-contents {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  &-container {
    position: relative;
    margin: 0 auto;
    display: block;
    min-height: 200px;
    transition: all .3s ease-out;

    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      transition: all .3s ease-out;
    }

    &:hover {
      &:before {
        opacity: .2;
        background-color: #ddd;
      }

      .w-contents-bar {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &-bar {
    position: absolute;
    top: 2px;
    right: 2px;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out;
    z-index: 999;

    [class*="w-btn"] {
      background-color: #fff;
    }
  }
}
