.w-content-container {
  position: relative;

  .w-actions {
    position: absolute;
    top: 0;
    left: -35px;
    display: flex;
    height: 100%;
    min-height: 60px;
    max-width: 50px;
    flex-direction: column;
    align-items: stretch;

    [class*="w-btn-"] {
      margin-bottom: 4px;
      padding: 4px;
    }
  }
}
