.w-content-container {
  position: relative;
  margin-left: -35px;
  padding-left: 35px;

  &.w-focus, &.gu-mirror {
    .w-actions {
      visibility: visible;
      opacity: 1;
    }
    .w-content {
      display: block;
    }
  }

  .w-actions {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    min-height: 80px;
    max-width: 50px;
    flex-direction: column;
    align-items: stretch;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out;
    z-index: 100;

    [class*="w-btn-"] {
      margin-bottom: 4px;
      padding: 4px;
      font-size: 12px;
    }
  }
  .w-content {
    display: block;
  }
}
